<h1>Log In</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %><br>
    <%= text_field_tag :email %><br>
  </div>
  <div class="field">
    <%= label_tag :password %><br>
    <%= password_field_tag :password %><br>
  </div>
  <div class="actions">
    <%= submit_tag "Log In" %>
  </div>
<% end %>
    