<div class="container">
  <h2>Schedule For Test</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Date</th>
        <th>Running</th>
        <th>Workout</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>test</td>
        <td>16/06/19</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
    </tbody>
  </table>
</div>