<h1>CalorieCalculator#index</h1>
<p>Find me in app/views/calorie_calculator/index.html.erb</p>

<h1>Age</h1>
<input type="number" id="age" placeholder="Your age"><br>

<h2>Gender</h2>
<input type="radio" name="gender" value="male" checked> Male<br>
<input type="radio" name="gender" value="female"> Female<br>

<h3>Height</h3>
<input type = "number" id="feet" placeholder="Feet"> Feet
<input type = "number" id="inches" placeholder="Inches"> Inches <br> 
or<br>
<input type = "number" id="cm" placeholder="Centimeters"> Centimeters

<h4>Weight</h4>
<input type = "number" id="pound" placeholder="pounds"> Pounds <br>
or<br>
<input type = "number" id="kg" placeholder="KG"> KG

<h5>Activity Level</h5>
<input type="checkbox" name="exercise_level" value="Little to no exercise" checked> Little to no exercise :( <br>
<input type="checkbox" name="exercise_level" value="3 times a week" > 3 times a week <br>
<input type="checkbox" name="exercise_level" value="4 times a week" > 4 times a week <br>
<input type="checkbox" name="exercise_level" value="5 times a week" > 5 times a week<br>
<input type="checkbox" name="exercise_level" value="Daily" > Daily <br>

<input type="submit" value="Calculate!"> <br>

<%= link_to 'Back', users_path %>