<!DOCTYPE html>
<html>
<head>
  <title>CMPT276Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="user_header">
    <% if current_user %>
      Logged in as <%= current_user.email %>
      <%= link_to "Log Out", logout_path%>
    <% else %>
      <%= link_to "Signup", signup_path %> or
      <%= link_to "Log In", login_path %>
      
    <% end %>
    <%= link_to "Calorie Calculator", calorie_calculator_path %>
  </div>
  
  <% flash.each do |key, value| %>
    <%= content_tag(:div, class: "alert alert-#{key}") do %>
      <p><%= value %></p>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
